@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
a {color:#EA7600}
body{font-family: 'Open Sans', sans-serif!important;}
h1{ font-size:3.8rem;}
h1, h2, h3, h4, h5, h6{ font-weight: 700}
td{ padding:5px!important}
.form-control, .btn, .dropdown-menu{ border-radius:0px!important}
header, main, footer { padding-left: 200px;}
.logIn footer{  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px; padding-left:0px
 }
.logIn footer span:first-child{ float:left; color:#fff}
.logIn main	{padding-left:0px}
.borderBox	{ border:1px solid #5cb85c; padding:15px}
.btn-primary{ background-color: #f4f4f4!important; color: #444!important; border-color: #ddd!important}

.btn-default{ border: 1px solid #EA7600!important; color: #EA7600!important}
.notification{ padding: 25px; background: url(../img/bg_form.png) no-repeat right bottom; background-size: contain}
.notification i{ font-size: 50px}
.alert-info{  }
.alert-success, .alert-info, .alert-danger{ background-color: #fff!important; border-left-width: 8px!important; border: 1px solid #DDD; margin: 25px 0px}

/*LOGIN */
.logIn	{ background:#fff url(../img/bg_homepage.jpg) no-repeat top left; background-size:cover; margin-bottom: 60px; padding-top:150px}
.logIn h1{ }
.logIn i	{ color:#fff}
.actionBtn{ margin:0 auto; text-align:center; 
background-color: #5cb85c!important; /* Old browsers */
color:#fff}
.actionBtn:hover{ background-color:#FFAD33; color:#000}
.side-nav{width:200px}
.nav-wrapper .dropdown-content{ margin-top:63px}
.container{ width:95%}
.formLogIn{ /*width:330px;*/ margin-top: 10%; /*background: url(../img/bgTransp60.png) top left;*/ padding:15px; /*float:right;*/ height:100%}
.formLogIn h1 { /*text-align:center;*/ font-size:35px; color:#000; margin-bottom:0px; margin-top:0px}
.formLogIn h1 img {width:100%; max-width:360px; margin-top:40px}
.formLogIn label{ color:#fff}
.formLogIn input:not([type]):focus:not([readonly]),
.formLogIn input[type=text]:focus:not([readonly]){ border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #E65100;}
.formLogIn p, .formLogIn h3	{color:#fff; /*text-align:center;*/ margin-top:0px}
.titLogin	{ font-size:22px}
.formLogIn	{background-color:rgba(17,17,17,0.7); padding:25px; -webkit-border-radius: 0px;
-moz-border-radius: 0px; border-radius: 0px;}
.formLogIn h3	{ text-align:center}
.yellow-text{ color:#EAF31A; padding-top:15px; display:block}
.yellow-text:hover{ color:#EAF31A}
  
  
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly])+label{ color:#E65100;} 


.formLogIn input:not([type]):focus:not([readonly]) + label,
.formLogIn input[type=text]:focus:not([readonly]) + label,
.formLogIn input[type=password]:focus:not([readonly]) + label{ color:#fff;}

.formLogIn input[type=text], .formLogIn input[type=password],  .formLogIn input[type=email]{ }
input[type=text]:focus:not([readonly]), 
input[type=password]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]){border-bottom:1px solid #000; /*box-shadow:0 1px 0 0 #000*/}
/*input[type=text], input[type=password]{ border-bottom:1px solid #333;}*/

footer{font-size:12px; text-transform:uppercase; color:#fff; border-top:1px solid #fff}
footer .logoSponsor { float: left; width:150px; border-radius:1px solid #fff; padding-right:15px; margin-right:15px}
footer .logoSponsor img{ width:150px}
footer .row{ margin-top:15px; margin-bottom:0px}

/*INTERNA */
.interna{}
.section{ margin:25px 0px}
.interna footer, .interna header, .interna .nav-wrapper { padding-left:220px}
.collapsible .material-icons{ color:#FFF; }
.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a>[class*="mdi-"], .side-nav li>a>i.material-icons{margin:0px; color:#fff}
.collapsible .side-nav li>a>i{ float:right}
.nav-wrapper a img{ float: right}
.interna .nav-wrapper{ background:#016DD9 url(../img/bg_TopBar.jpg) no-repeat 200px 0px; border-bottom:3px solid #F99600 }
.dropdown-content li>a, .dropdown-content li>span{ color:#000}
.nav-wrapper .grey{ padding:0px 15px}
.mainContent{ padding:0px 25px 25px}
.side-nav{ background:url(../img/Bg_sideNav.png) bottom left repeat-x}
.side-nav span{ line-height:14px; padding-top:5px; display:block}
.side-nav a{ font-size:13px; }
.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a{color:#fff}
a{ color:#EA7600}
a:hover{ text-decoration:underline}
tr:hover{ background-color:#fafafa}
thead th{ border-bottom:3px solid #444444; border-top:2px solid #444444; padding:10px 5px}
.btnOption{ float: left; display:inline-block; width:35px; height:35px; text-align:center; color:#5cb85c }
.btnOption i{ text-align:center; margin-top:5px}
.btnOption:hover{ background:#e0e0e0;}
.logo{ margin-top:15px}
.pagination li.active{ background-color:#EA7600}
.pagination li a{ color:#EA7600}
.brand-logo{ pading-left:15px}
.titModal	{ border-bottom:2px solid #3883CE; color: #3883CE; font-weight: 700}
.TXT_total	{ border-top: 1px solid #000;  border-bottom: 1px solid #000; }
.TXT_total td{padding:10px}
.dFlex	{ display:flex}
.modal-content{ padding:25px}
.navbar-right a{ color:#fff}
.navbar-right a:focus, .navbar-right a:hover{ color:#02391B; }
.navbar-right .dropdown{ margin:20px 25px auto;}
.navbar-right .dropdown-menu{ background-color:#fff}
.navbar-right .dropdown-menu li{ padding:10px 0px}
.navbar-right  ul a{ background:none}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{ background:transparent!important; color:#fff}


/*DATAPICKER*/
.picker__weekday-display{background-color:#333}
.picker__date-display{background-color:#006DD9}
.picker__close, .picker__today, .tabs .tab a:hover{color:#006DD9}


/*TABS*/
.nav-tabs				{ border-bottom:1px solid #1b4e8f!important;}
.nav-tabs li.active		{ border-bottom:4px solid #1b4e8f;}
.tab-content			{ padding:25px}
.nav-tabs>li>a{ color: #1b4e8f; font-weight: 700}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{ border:none!important}
/*.tabs li a.active		{background-color:#EA7600; color:#fff	}*/
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{background-color:#85B200; color:#fff }

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: linear-gradient(to bottom, #3883CE, #010203);

   
    color: #fff;
    transition: all 0.3s;
}
.navbar{background:#3883CE url(../img/bg_TopBar.jpg) no-repeat 0px 0px; border-bottom:3px solid #3883CE !important; border-radius:0px!important}

#sidebar.active {
    margin-left: -200px;
}

#sidebar .sidebar-header {
    padding: 20px;
	text-align:center;
    bottom:10px;
}



#sidebar .sidebar-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height:10%;

}



#sidebar ul.components {
   
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
	color:#fff;
}
#sidebar ul li a:hover {
    color: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #1a2226;
}


a[data-toggle="collapse"] {
    position: relative;
}



ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background-color: rgba(143, 143, 143, .4);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 200px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}

/*AUTOCOMPLETE*/
.twitter-typeahead{
width:100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  width:100%;        
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 200px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


/*RESPONSIVE*/
@media only screen and (max-width: 992px) {
   .interna .nav-wrapper{ background:#167981 url(../img/bg_TopBar.jpg) no-repeat 0px 0px }
   header, main, footer{ padding-left:0px; position:relative}
   .interna footer, .interna header, .interna .nav-wrapper{ padding-left:50px}
   .mainContent{ padding:0px 15px}
   nav .brand-logo{ left:25%}
   .logIn{ padding-top:30px}
   .logIn footer{position:relative; margin-top:30px}
   .logIn h1{ text-align:center}
   .logIn h1 img { height:130px}
}



.required::after		{ content:'*'; color:#F00; font-size:18px}


@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}
/* En la clase corazon vamos a llamar latidos en la animación  */
.corazon {
	display: inline-block;
	font-size: 15px;
	color: red;
	animation: latidos 1.5s infinite;
	transform-origin: center;
}





 /* Autor : Ing. George Ruiz  */

.IconoOption{ display:inline-block; width:35px; height:35px; text-align:center; color:#5cb85c }
.IconoOption i{ text-align:center; margin-top:5px}
.IconoOption:hover{ background:#e0e0e0;}


.BotonBuscar {
    padding-top: 2rem;
    display: block;
}